awsebcli==3.14.13
botocore==1.12.106
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
colorama==0.3.9
connexion==2.2.0
decorator==4.3.2
docutils==0.14
EbookLib==0.17.1
Flask==1.0.2
future==0.16.0
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
jsonschema==2.6.0
lxml==4.3.0
MarkupSafe==1.1.1
mongoengine==0.16.3
networkx==2.2
nltk==3.4
numpy==1.16.2
openapi-spec-validator==0.2.6
pathlib==1.0.1
pathspec==0.5.9
pymongo==3.7.2
python-dateutil==2.8.0
PyYAML==3.13
rake-nltk==1.0.4
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
summary==0.2.0
termcolor==1.1.0
urllib3==1.26.5
wcwidth==0.1.7
Werkzeug==0.14.1
Flask-RESTful==0.3.7
aniso8601==5.1.0
pytz==2018.9
relativetimebuilder==0.2.0
WTForms==2.2.1
flask-wtf==0.14.2



