<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-2');
</script>
        <script src="{{url_for('static', filename='home.js')}}"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/lipybs/materialize/1.0.0/js/materialize.min.js"></script>




    <meta charset="UTF-8">
    <title>About: Copypasta Publishing</title>
</head>
    <div class="col black-text s6 m4">
    <div class="card horizontal yellow lighten-4">

      <div class="card-stacked">
        <div class="card-content"> <a href="/" class="purple-text">Copypasta Partners: Apply here, become a social media marketer</a>
        <p>We were founded in 2012 when Caesar Naples Wiki was self published by Jordan Jones. </p>
            <p>Copypasta Publishing seeks to produce the best science fiction from indie authors.</p>
            <p>We accept manuscript submissions according to our <a href="https://www.copypastapublishing.com/ten-minute-pitch#h.p_d1oaWuc-E-oK" class="purple-text">submission guidelines</a> found on our website.</p>
        </div>  <div class="card-action">
     <a href="https://www.copypastapublishing.com/ten-minute-pitch">
         Ten Minute Pitch</a> </div>
          <div class="card-action">
     <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmJaak6oFKIQKk0XrFDebc2zymD8cvlae7hxGuH2kxVEvYAQ/viewform">
         Sign Up (Testers)</a></div>
         <div class="card-action">
     <a href="https://www.copypastapublishing.com/invitation/language-projects">
         Language Projects</a></div>
                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2Fapforce&sa=D&sntz=1&usg=AFQjCNEiAQdexlkurcVIEO3LKM7QTtKoow">
Twitter</a></div>

         <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fapforcear-blog.tumblr.com%2F&sa=D&sntz=1&usg=AFQjCNErntIxBMNtBDm37srdwe2gje6qGA">
        Tumblr</a></div>
                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.wattpad.com%2Fuser%2Foaflopean&sa=D&sntz=1&usg=AFQjCNHHq3bOue4U9qFY0ywHxFlVKuYeVQ">
         Wattpad</a></div>

                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.goodreads.com%2Fuser%2Fshow%2F5972654-caesar-naples-wiki&sa=D&sntz=1&usg=AFQjCNEuHG-WXO-izsErdiKHpGK5GF3TVQ">
         Goodreads</a></div>

                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Foaflopean%2F&sa=D&sntz=1&usg=AFQjCNGvL3251KJFPgDlR1AgOcOEd3FIcQ">Instagram</a></div>

          <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.smashwords.com%2Fprofile%2Fview%2Fcaesarnaples&sa=D&sntz=1&usg=AFQjCNEGm6m_vJfAFrKEV7eaRkF-L05RzA">Smashwords</a></div>
      </div>


        <div class="container"><iframe src="https://copypastapublishing.business.site" title="iframe Example 1" width="80%" height="1200px">
  <p><a href="https://copypastapublishing.business.site">https://copypastapublishing.business.site</a></p>
        </iframe> </div></div></div>
<div id='profile-page-header' class='card'>
                <div class='card-image waves-effect waves-block waves-light'>
                </div>

                <div class='card-content'>
                  <div class='row pt-2'>
                      <div class='col s12 m1 right-align'><a href="https://www.facebook.com/copypastapartners">
                          <img class="hoverable" src="{{url_for('static', filename='lowerlogo.png')}}" style='width:100px;height:100px'></img></a>
                    </div>


                    <div class='col s12 m3'>
                      <h4 class='card-title grey-text text-darken-4'>Copypasta Publishing</h4>
                      <p class='medium-small grey-text'>Publisher</p>
                    </div>
                    <div class='col s12 m2 center-align'>
                      <h4 class='card-title grey-text text-darken-4'>Paul Harris, Matthew John Hewitt, Scott Branchfield</h4>
                      <p class='medium-small grey-text'>Authors</p>
                    </div>
                    <div class='col s12 m2 center-align'>
                      <h4 class='card-title grey-text text-darken-4'>Jordan Jones</h4>
                      <p class='medium-small grey-text'>Editor</p>
                    </div>
                    <div class='col s12 m2 center-align'>
                      <h4 class='card-title grey-text text-darken-4'>Broken Bow, Oklahoma</h4>
                      <p class='medium-small grey-text'>Publisher Location</p>
                    </div>
                  </div>
                </div>
               </div>
</body>
</html>