<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="{{url_for('static', filename='home.js')}}"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-2');
</script>
  <title>Embed this form </title>


</head><body>          <h1 class="banner">Marketing Application</h1>


<!--<form method="GET" action="/hello/"+form.name>
    <label>First Name

     {{ form.name(size=200) }}
</label>

<br />
<label >Last Name
    <input type="text" />
</label>
<br /></div><label for="title">Title
    <input id="title" type="text" />
</label>
<br />
<label for="desc">Description
    <input  id="desc" type="text" />
</label>
<br />

        </div>

        </form>-->
    <div class="row">

<div class="col s3 m3"><div class="card-horizontal blue lighten-4 hoverable zdepth-4">
<div class="card-content brown-text">
    <big>Your focus as tester will be. . .</big><bold>
<ol>
<li>    Design and look of a literature weblog being built on the advanced Google Cloud platform
</li>
<li>Perfecting ease of use of new features, for young (5th-12th grade) writers
</li>
<li>Safety awareness in design to prevent privacy breaches, adult content, and menacing user behavior
</li>
<li>Contribute your new feature ideas and we might implement them
</li>
<li>Help our website growth online, until we have regular users that enjoy its services
</li>
<li>Engineering future social networks to be more wonderful through design and planning
</li>
<li>Providing feedback on the direction the website takes over time as it's developed
</li>
</ol></bold></div>

        <div class="card purple lighten-1">
                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2Fapforce&sa=D&sntz=1&usg=AFQjCNEiAQdexlkurcVIEO3LKM7QTtKoow">
Twitter</a></div>

         <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fapforcear-blog.tumblr.com%2F&sa=D&sntz=1&usg=AFQjCNErntIxBMNtBDm37srdwe2gje6qGA">
        Tumblr</a></div>
                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.wattpad.com%2Fuser%2Foaflopean&sa=D&sntz=1&usg=AFQjCNHHq3bOue4U9qFY0ywHxFlVKuYeVQ">
         Wattpad</a></div>
                 <div class="card-action">
     <a href="https://www.wattpad.com/user/copypastapublishing">
         Wattpad Copypasta</a></div>

                 <div class="card-action">
     <a href="https://www.goodreads.com/kublakhan">
         Goodreads</a></div>

                 <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Foaflopean%2F&sa=D&sntz=1&usg=AFQjCNGvL3251KJFPgDlR1AgOcOEd3FIcQ">Instagram</a></div>

          <div class="card-action">
     <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.smashwords.com%2Fprofile%2Fview%2Fcaesarnaples&sa=D&sntz=1&usg=AFQjCNEGm6m_vJfAFrKEV7eaRkF-L05RzA">Smashwords</a></div>
      </div>


<!--        <div class="white-text btn"><a class="white-text" href="/hello/applicant">Apply</a></div>
        <div class="white-text btn"><a class="white-text" href="/projects/">Self Publish</a></div>
        <div class="white btn"><a class="orange-text" href="/entries">Entries</a></div></div>-->

    </div></div><div class="col s9 m9">       <div class="container hoverable">   <div class="btn white">  <a href="/hello/testers">
         Hello, testers!</a></div>
         <div class="btn purple lighten-1 ">
     <a class="white-text" href="https://www.copypastapublishing.com/ten-minute-pitch">
         Ten Minute Pitch</a> </div>
        <div class="btn purple lighten-1">
     <a class="white-text" href="https://www.copypastapublishing.com/invitation/language-projects">
         Language Projects</a></div>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdmJaak6oFKIQKk0XrFDebc2zymD8cvlae7hxGuH2kxVEvYAQ/viewform?embedded=true" width="600" height="1025" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
             </div>
</div>
</body>
</html>