<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter: McOaflopean</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-2');
</script>
        <script src="{{url_for('static', filename='home.js')}}"></script>

</head>
<body>
<a class="twitter-timeline" href="https://twitter.com/m1Vr4?ref_src=twsrc%5Etfw">Tweets by m1Vr4</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></body>
</html>
