<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OneDrive: Signal City</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118743023-2"></script>
        <script src="{{url_for('static', filename='home.js')}}"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118743023-2');
</script>

</head>
<body>
<iframe src="https://onedrive.live.com/embed?cid=7BAB5BF4DF89F13D&amp;resid=7BAB5BF4DF89F13D%21719&amp;authkey=AFOvDAfmTfdMMZc&amp;em=2&amp;wdStartOn=1&amp;wdEmbedCode=1" width="800px" height="600px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office Online</a>.</iframe></body>
</html>

